


<main>
    <div class="hero">
        <div class="content">
            <div class="text fade-in">
                <h1>Vi utbildar framtidens förare <br> – ta nästa steg med oss!</h1>
                <h2 class="hide-on-mobile">
                    Bli en säker och professionell förare med våra kurser! Vi erbjuder utbildningar för bilförare,<br>
                    YKB, handledarkurser samt Risk 1 och Risk 2. Med erfarna instruktörer och skräddarsydda <br>
                    program hjälper vi dig att nå dina mål. Börja din resa mot nya möjligheter idag!
                </h2>
                <a asp-controller="product" asp-action="Services" class="cta">Tjänster</a>
            </div>
            <div class="image fade-in">
                <img class="hide-on-mobile" src="/images/MentorRamadani.jpg" alt="Business Manager">
            </div>
        </div>
    </div>
</main>