

<main>
    <section class="admin-portal">
        <div class="admin-container">
            <h2>Bokningar</h2>
            <div class="bookings-table">
                <table>
                    <thead>
                        <tr>
                            <th>Tid</th>
                            <th>Tjänst</th>
                            <th>Förnamn</th>
                            <th>Efternamn</th>
                            <th>Adress</th>
                            <th>Telefon</th>
                            <th>E-post</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>