

<main>
    <section class="login-section">
        <div class="login-container">
            <h2>Admin Portal</h2>
            <form class="login-form">

                <div class="form-group">
                    <label for="username"> <p>Användarnamn</p> </label>
                    <input type="text" id="username" name="username" placeholder="Ange ditt användarnamn" required>
                </div>


                <div class="form-group">
                    <label for="password"> <p>Lösenord</p> </label>
                    <input type="password" id="password" name="password" placeholder="Ange ditt lösenord" required>
                </div>


                <button type="submit" class="login-button">Logga In</button>
            </form>
        </div>
    </section>
</main>