

<main>
    <section class="contact-container">
        <div class="contact-main">
            <img src="/images/Kundservice.jpg">

            <div class="contact-info">
                <div>
                    <h2>Kontakta oss</h2>
                    <p><i class="fa-solid fa-envelope"></i> <a href="mailto:info@onatrix.com">info@test.com</a></p>
                    <p><i class="fa-solid fa-phone"></i> <a href="tel:+46701234567">+46 00 000 00 00</a></p>
                </div>

            </div>
        </div>

    </section>
</main>

<footer class="footer">
    <div class="footer-container">
        <p>&copy; 2024 Yrkesförarutbildning. Alla rättigheter reserverade.</p>
        <p>
            Följ oss:
            <a href="#" class="footer-link">Facebook</a> |
            <a href="#" class="footer-link">Instagram</a> |
            <a href="#" class="footer-link">LinkedIn</a>
        </p>
    </div>
</footer>
